* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(84, 92, 109);
}
.App {
  text-align: center;
}

.heading {
  background-color: rgb(249, 249, 249);
  width: 100vw;
  padding: 50px;
}

.heading img {
  width: 300px;
  height: auto;
}
